#about-us .heading-title-con {
  text-align: center;
}

#about-us h5 {
  color: var(--primary-color);
}

#about-us h2 {
  color: var(--black-color);
}

#about-us .items-con {
  gap: 15px;
}

#about-us .item-con {
  padding: 52px 27px 52px 42px;
  border-bottom: 3px solid var(--primary-color);
  background-color: var(--light-blue-color);
}

#about-us .item-con:hover {
  background-color: var(--primary-color);
  color: var(--white);
  transition: ease-in-out 0.6s;
}

#about-us .item-con:hover a {
  color: var(--white);
  transition: ease-in-out 0.6s;
}

#about-us .item-con h2 {
  color: var(--black-color);
}

#about-us .item-con img {
  filter: hue-rotate(160deg);
  margin-bottom: 27px;
}

#about-us .item-con a {
  color: var(--primary-color);
}
